canvas{
  display: block;
  margin:auto;
  width: 100%;
  height: 100%;
  border:3px solid black;
}
p, ul{
  margin:auto;
  width: 900px;
  text-align: justify;
}
ul{
  list-style-type: none;
}
button{
  display: inline-block;
  width: 10%;
  height: 60px;
  top:560px;
}
