canvas{
  display: block;
  margin:auto;
  border:3px solid black;
}
p{
  margin:auto;
  width: 900px;
  text-align: justify;
}
div{
  display: inline-block;
  width: 100px;
  height: 60px;
  top:560px;
}
