canvas{
  display: block;
  margin:auto;
  border:3px solid black;
}
p, ul{
  margin:auto;
  width: 900px;
  text-align: justify;
}
ul{
  list-style-type: none;
}
button{
  display: inline-block;
  width: 140px;
  height: 60px;
  top:560px;
}
